<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control" value="{{owner.firstName}}" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control" value="{{owner.lastName}}" disabled>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" (click)="onPet()">Pet List</button>
                </div>
            </div>
        </form>
    </div>
</div>